[Desktop Entry]
Encoding=UTF-8
Name=BTR
Comment=BTR P2P Cryptocurrency
Comment[fr]=BTR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BTR, eşten eşe kriptografik sanal para birimi
Exec=bittern-qt %u
Terminal=false
Type=Application
Icon=bittern128
MimeType=x-scheme-handler/bittern;
Categories=Office;Finance;
